<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">
	<section layout:fragment="content">
		<div class="col s12" th:if="${!#lists.isEmpty(listaAtendimento)}">
			<div class="carousel col s6">

				<p>
				<h4 class="fonte-verde">Normal</h4>
				</p>
				<div class="card blue-grey darken-1 carousel-item"
					th:each="normal : ${listaAtendimentoNormal}">
					<div class="card-content white-text">
						<span class="card-title" th:text="${normal.pessoa.nome}"></span>
						<p>
						<h3 th:text="${normal.senha}"></h3>
						</p>
					</div>
					<div class="card-action">
						<a href="#">Finalizar</a>
					</div>
				</div>
			</div>

			<div class="carousel col s6">
				<p>
				<h4 class="fonte-verde">Preferencial</h4>
				</p>
				<div class="card blue-grey darken-1 carousel-item"
					th:each="pref : ${listaAtendimentoPreferencial}">
					<div class="card-content white-text">
						<span class="card-title" th:text="${pref.pessoa.nome}"></span>
						<p>
						<h3 th:text="${pref.senha}"></h3>
						</p>
					</div>
					<div class="card-action">
						<a href="#">Finalizar</a>
					</div>
				</div>

			</div>
		</div>

	</section>
</div>
