<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">
	<section layout:fragment="content">
		<h2 class="header">Atendimento</h2>
		<div th:include="mensagem"></div>
		<div class="col s12">
			<div class="col s6">
				<h4 class="fonte-verde">Normal</h4>

				<div class="card blue-grey darken-1">
					<div class="card-content white-text"
						th:if="${!#strings.isEmpty(cliente)}">
						<span class="card-title" th:text="${cliente.pessoa.nome}"></span>
						<h2 th:text="${cliente.senha}"></h2>
					</div>
					<div class="card-content white-text"
						th:if="${#strings.isEmpty(cliente)}">
						<span class="card-title">Não há atendimentos no momento!</span>

					</div>
					<div class="card-action" th:if="${!#strings.isEmpty(cliente)}">
						<a th:href="@{/atendimento/finalizar/{id} (id=${cliente.id})}">Finalizar</a><a
							th:onclick="'javascript:buscarClienteEditar(\''+ ${cliente.pessoa.id} +'\')'">Dados do cliente</a>
					</div>
				</div>

				<div class="row">
					<table class="bordered">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Senha</th>
								<th class="material-icons center-align">settings</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="normal : ${listaAtendimentoNormal}">
								<td th:text="${normal.pessoa.nome}"></td>
								<td th:text="${normal.senha}"></td>
								<td><a class="excluir"
									th:href="@{/atendimento/excluir/{id} (id=${normal.id})}"><i
										class="material-icons">delete</i></a></td>
							</tr>
						</tbody>
					</table>
				</div>


			</div>
			<div class="col s6">
				<h4 class="fonte-verde">Preferencial</h4>

				<div class="card blue-grey darken-1">
					<div class="card-content white-text"
						th:if="${!#strings.isEmpty(clientePreferencial)}">
						<span class="card-title"
							th:text="${clientePreferencial.pessoa.nome}"></span>
						<h2 th:text="${clientePreferencial.senha}"></h2>
					</div>
					<div class="card-content white-text"
						th:if="${#strings.isEmpty(clientePreferencial)}">
						<span class="card-title">Não há atendimentos no momento!</span>

					</div>
					<div class="card-action"
						th:if="${!#strings.isEmpty(clientePreferencial)}">
						<a
							th:href="@{/atendimento/finalizar/{id} (id=${clientePreferencial.id})}">Finalizar</a><a
							th:onclick="'javascript:buscarClienteEditar(\''+ ${clientePreferencial.pessoa.id} +'\')'">Dados do cliente</a>
					</div>
				</div>

				<div class="row">
					<table class="bordered">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Senha</th>
								<th class="material-icons center-align">settings</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="pref : ${listaAtendimentoPreferencial}">
								<td th:text="${pref.pessoa.nome}"></td>
								<td th:text="${pref.senha}"></td>
								<td><a class="excluir"
									th:href="@{/atendimento/excluir/{id} (id=${pref.id})}"><i
										class="material-icons">delete</i></a></td>
							</tr>
						</tbody>
					</table>

				</div>

			</div>
		</div>
		<div th:include="modalClientes"></div>
		<script type="text/javascript" th:src="@{js/atendimento.js}"></script>
	</section>
</div>
