<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">

	<section layout:fragment="content">
		<div class="row">
			<h2 class="header">Clientes</h2>
			<div class="row">
				<div th:include="mensagem"></div>

				<form class="cols s12" style="margin-left: -56px;"
					th:action="@{/clientes}" method="get">
					<div class="input-field col s4">
						<i class="material-icons prefix"></i> <input id="icon_prefix"
							name="nomeBusca" type="text"
							placeholder="Qual cliente deseja buscar?" />
					</div>
					<div class="col s2" style="margin-top: 20px;">
						<button type="submit" class="btn waves-effect waves-light">Buscar</button>
					</div>
				</form>

				<div class="fixed-action-btn horizontal">
					<a class="btn-floating btn-large red" data-target="modalCliente"
						id="btnCadastroCliente"> <i class="large material-icons">mode_edit</i>
					</a>
				</div>
			</div>

		</div>
		<div class="row">
			<table class="bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>CPF</th>
						<th>Endereço</th>
						<th>Bairro</th>
						<th>Cidade</th>

						<th class="material-icons center-align">settings</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="pessoa : ${listaPessoas}">
						<td th:text="${pessoa.nome}"></td>
						<td th:text="${pessoa.cpf}"></td>
						<td th:text="${pessoa.endereco}"></td>
						<td th:text="${pessoa.bairro}"></td>
						<td th:text="${pessoa.cidade}"></td>

						<td><a class="excluir"
							th:href="@{clientes/excluir/{id} (id=${pessoa.id})}"><i
								class="material-icons">delete</i></a> <a class="alterar" href="#"
							th:onclick="'javascript:buscarClienteEditar(\''+ ${pessoa.id} +'\')'"><i
								class="material-icons">mode_edit</i></a> 
								<a th:href="@{clientes/gerarSenha/{id} (id=${pessoa.id})}"><i
								class="material-icons">note_add</i></a></td>
					</tr>

				</tbody>
			</table>
		</div>
		<div th:include="modalClientes"></div>
		<script type="text/javascript" th:src="@{/js/clientes.js}"></script>

	</section>

</div>