<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">

	<section layout:fragment="content">
		<div class="row">
			<h2 class="header">Funcionários</h2>
			<div class="row">
				<form class="cols s12" style="margin-left: -56px;">
					<div class="input-field col s4">
						<i class="material-icons prefix"></i> <input name="nomeBusca" id="icon_prefix"
							type="text" placeholder="Qual funcionário deseja buscar?" />
					</div>
					<div class="col s2" style="margin-top: 20px;">
						<button type="submit" class="btn waves-effect waves-light">Buscar</button>
					</div>
				</form>

				<div class="fixed-action-btn horizontal">
					<a class="btn-floating btn-large red"
						data-target="modalFuncionarios"> <i
						class="large material-icons">mode_edit</i>
					</a>
				</div>
			</div>

		</div>
		<div class="row">
			<table class="bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>CPF</th>
						<th>RG</th>
						<th>E-mail</th>
						<th>Cargo</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="funcionario : ${listaFuncionarios}">
						<td th:text="${funcionario.nome}"></td>
						<td th:text="${funcionario.cpf}"></td>
						<td th:text="${funcionario.rg}"></td>
						<td th:text="${funcionario.email}"></td>
						<td th:text="${funcionario.cargoId.nome}"></td>
						
					</tr>

				</tbody>
			</table>
		</div>
		<div th:include="modalFuncionarios"></div>
	</section>

</div>