<!-- Modal Structure -->
<div id="modalFuncionarios" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>Funcionários</h4>
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<input id="icon_prefix" type="text" class="validate" /> <label>Nome
						</label>
					</div>
					<div class="input-field col s3">
						<input type="text" class="validate" /> <label>CPF</label>
					</div>
					<div class="input-field col s3">
						<input type="text" class="validate" /> <label>Rg</label>
					</div>

				</div>
				<div class="row">
					<div class="input-field col s6">
						<input type="text" class="validate" /> <label>E-mail</label>
					</div>
					<div class="input-field col s3">
						<input type="text" class="validate" /> <label>Cargo</label>
					</div>
					<div class="input-field col s3">
						<input type="text" class="validate" /> <label>Senha</label>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!"
			class="modal-action modal-close waves-effect waves-green btn-flat ">Salvar</a>
	</div>
</div>