<!-- Modal Structure -->
<div id="modalFuncionarios" class="modal">
	<div class="modal-content">
		<h4>Funcionários</h4>
		<form class="col s12" id="formFuncionario" th:object="${funcionario}"
			th:action="@{/funcionarios}" method="post">
			<div class="row">
				<div class="row">
					<input type="hidden" th:field="*{id}" id="funcionarioId" />
					<div class="input-field col s6">
						<input id="funcionarioNome" type="text" class="validate"
							th:field="*{nome}" placeholder="Nome" required="required" /> <label>Nome</label>
					</div>
					<div class="input-field col s3">
						<input type="text" class="validate" id="funcionarioCpf"
							th:field="*{cpf}" placeholder="CPF" required="required" /> <label>CPF</label>
					</div>
					<div class="input-field col s3">
						<input type="text" class="validate" id="funcionarioRg"
							th:field="*{rg}" placeholder="RG" required="required" /> <label>RG</label>
					</div>

				</div>
				<div class="row">
					<div class="input-field col s6">
						<input type="text" class="validate" id="funcionarioEmail"
							th:field="*{email}" placeholder="E-Mail" required="required" />
						<label>E-mail</label>
					</div>
					<div class="input-field col s3">
						<select th:field="*{cargo}" required="required">
							<option value="">Selecione...</option>
							<option th:each="c : ${listaCargos}" th:value="${c.id}"
								th:text="${c.nome}"></option>
						</select> <label>Cargo</label>
					</div>
					<div class="input-field col s3">
						<input type="password" class="validate" id="funcionarioSenha"
							th:field="*{senha}" placeholder="Senha" /> <label>Senha</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="modal-action waves-effect waves-green btn-flat"
					id="botaoSalvarFuncionario">Salvar</button>
			</div>

		</form>
	</div>
</div>